/*
[Master Stylesheet]
Project Name: XBlockchain Ecosystem
Version:    1.1

====INDEX=====
01- Google Fonts Import
02- SCSS File Import 
03- Loader
04- Featured-area
*/
/*=============== SCSS sub file import ===================*/
/* Remove gery border */
/* Card Border Radius */
/* Transition-ease-in-out */
/*Landing Page Background Color */
/*=============== Fonts source Google Alegreya Sans ===================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
/*=============== Web Styling in SCSS ===================*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --purple-color: #a12ca9;
  --blue-color: #8e44d7;
}
html,
body {
  font-family: "Rubik";
}

body {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #fff;
  background-color: #06052a;
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 26px;
  color: inherit;
}

ol li,
p,
ul li {
  font-size: 16px;
  color: inherit;
  margin-bottom: 0;
}
ol,
ul {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.container-fluid {
  max-width: 1250px;
  margin: 0px auto;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

img {
  height: auto;
  max-width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin-bottom: 0;
}
.owl-next {
  right: 0;
}
.owl-slider {
  position: relative;
  width: 83%;
  margin: auto;
}
.owl-prev::after {
  content: "\f060";
  font-family: fontawesome;
}
:is(.owl-prev, .owl-next) span {
  display: none;
}
.owl-next::after {
  content: "\f061";
  font-family: fontawesome;
}

.owl-prev {
  left: 0%;
}
.owl-next,
.owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* preloader */
.preloader {
  margin: 0;
  padding: 0;
  background: #06052a;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  transition: 1s ease;
}
.no-preloader {
  opacity: 0;
  visibility: hidden;
}
.preloader h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
}

.preloader h1:before {
  content: "loading..";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--blue-color);
  overflow: hidden;
  border-right: 4px solid var(--purple-color);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
/* preloader ended  */
.site-layout {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.col-1-5 {
  width: 20%;
  max-width: 20%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

section {
  float: left;
  position: relative;
  width: 100%;
}

.gap {
  float: left;
  padding: 40px 0 40px 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

.gap.no-gap {
  padding: 0;
}

.gap.no-top {
  padding-top: 0px;
}

.gap.no-bottom {
  padding-bottom: 0px;
}

.remove-ext {
  margin-bottom: -30px;
}

.remove-ext-40 {
  margin-bottom: -40px;
}

.remove-ext-50 {
  margin-bottom: -50px;
}

.merged {
  margin: 0px;
  padding: 0;
}

.merged > div {
  padding: 0;
}

.row.merged > div {
  padding: 0;
}

.merged.row {
  margin: 0;
}

.merged.row > div {
  padding: 0;
}

[type="submit"],
button,
html [type="button"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

.lr-gap {
  padding: 30px 70px;
}

/*==========
    Loader
  ========= */
/* =============
   Featured-area 
   ============*/
/* .bg-img {
  position: relative;
  top: 0;
  left: 0;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 10px;
} */
/*# sourceMappingURL=style.css.map */
/* #### Navbar styling */
.bg-img {
  background: url(../images//bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100vh; */
}
nav {
  padding: 1rem 0;
}
.navbar-items {
  display: flex;
  align-items: center;
}
.navbar-items ul {
  margin-left: 10px;
}
.navbar-items ul li {
  display: inline-block;
  padding: 0px 20px;
}
.navbar-items .nav-btn:nth-child(2) {
  padding: 6px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: linear-gradient(to right, var(--purple-color), var(--blue-color));
  color: white;
  margin-left: 20px;
  margin-right: 10px;
}
.navbar-items .nav-btn:last-child {
  outline: none;
  border: none;
  background: none;
  margin-left: 16px;
}
.navbar-items .nav-btn:last-child::before {
  content: "\f007";
  color: white;
  font-size: 24px;
  font-family: fontawesome;
}
.brand-logo {
  width: 70px;
}
.navbar {
  padding: 1.6rem 0;
}
.front-view {
  width: 100%;
  background: url(../images/img.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6rem 0;
}
:is(.front-view, .middle-view, .bottom-view, .down-view, .bg-img-6, .bg-img-8, .ai-bots, .brookyl, .brookyl-vendor)
  h1 {
  font-size: 57px;
  font-weight: bold;
  width: 70%;
}
:is(.tech-view) h1 {
  font-size: 50px;
  font-weight: bold;
  width: 100%;
}
:is(.tech-view) p {
  width: 100%;
}
:is(.front-view, .middle-view, .bottom-view, .down-view, .bg-img-6, .bg-img-8, .brookyl, .brookyl-vendor)
  p {
  width: 50%;
  margin: 1rem 0;
}
:is(.front-view, .middle-view, .bottom-view, .tech-view) button {
  padding: 6px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: linear-gradient(to right, var(--purple-color), var(--blue-color));
  color: white;
  margin-top: 0.7rem;
}
.front-view {
  padding: 48px 6px;
}
.front-view h1 {
  width: 60%;
}
.front-view_data {
  margin-top: 1rem;
}
.bg-img-2 {
  width: 100%;
  /* height: 100vh; */
  background: url(../images/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.component-3 {
  width: 350px;
  position: absolute;
}
.mobi {
  padding: 15px 0;
}
.mobi p {
  margin-bottom: 10px;
}
.middle-view {
  padding: 6rem 0;
  text-align: center;
}
.middle-view h1,
.middle-view p {
  margin: auto;
}
.middle-view p {
  margin: 1rem auto;
}
.bg-img-3 {
  display: flex;
  margin-top: -20px;
  flex-wrap: wrap;
}
.bg-img-3 > div {
  width: 50%;
}

.bottom-view {
  position: relative;
  padding-top: 40px;
  padding-left: 16px;
}
.bottom-view li {
  list-style-type: disc;
}
.bottom-view ul {
  padding-left: 1rem;
  margin-top: 2rem;
}
.bottom-view ul li > * {
  margin: 0;
}
.bottom-view button {
  margin-top: 2rem;
}
.bottom-view h1,
.bottom-view p,
.bottom-view ul {
  width: 500px;
}

.shutter-face {
  position: relative;
  transform: translateX(-50px);
}
.side-planet {
  position: absolute;
  bottom: 0%;
  right: -6%;
  width: 300px;
}
.bg-img-4 {
  position: relative;
  width: 100%;
  /* height: 96vh; */
}
.com-five,
.com-six,
.com-seven {
  width: 250px;
}
.com-six {
  position: absolute;
  right: -6%;
  top: 20%;
}
.com-five {
  position: absolute;
}
.com-seven {
  display: block;
  text-align: center;
  margin: auto;
}
.down-view {
  text-align: center;
  padding: 4rem 0;
}
.down-view h1 {
  width: auto;
}
.down-view p {
  margin: 1rem auto;
}
.bg-img-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bg-img-5 > div {
  width: 50%;
}
.tech-images {
  position: relative;
}
.iphone-img {
  transform: scale(1.4);
}
.watch {
  width: 200px;
  position: absolute;
  top: 6%;
  left: 36%;
  z-index: -1;
}
.tech-view li {
  list-style-type: disc;
}
.tech-view ul {
  padding-left: 1rem;
}
section > .side-planet {
  width: 300px;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.com-six_one {
  position: absolute;
  top: -14%;
  left: -9%;
  width: 300px;
  z-index: -1;
}

.bg-img-6 > h1,
.bg-img-6 > p {
  text-align: center;
  width: auto;
}
.token-side_img {
  width: 300px;
  position: absolute;
}
.flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flexer > div {
  width: 50%;
}
.tech-ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tech-ul > div:first-child {
  width: 60%;
}
.tech-ul > div:last-child {
  width: 40%;
}
.tech-ul li p {
  margin: 0;
}
.game-features {
  padding-left: 1rem;
}
.game-features h6 {
  margin-bottom: 10px;
}
.brookyl {
  margin-top: -85px;
}
.bg-img-7 {
  background: url(../images/img2.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -11111;
  position: inherit;
}
.bg-img-7 .play-controller,
.bg-img-7 .play-button,
.bg-img-7 .play-dots {
  width: 200px;
}
.bg-7_helper {
  position: absolute;
  left: 0;
  z-index: -1;
}
.smartphone-container {
  padding-left: 60px;
}
.play-dots {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.bg-img-8 h1,
.bg-img-8 p {
  width: 80%;
  margin: auto;
  text-align: center;
}
.artificial-img {
  background: url(../images/c19.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10rem 0;
}
.bg-img-8 p {
  margin: 1rem auto;
}
.bg-img-8 h2 {
  text-align: center;
}
.asset-4 {
  margin-top: -7rem;
  position: relative;
  z-index: -1;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex > div {
  width: 50%;
}
.level-img {
  width: 70%;
  margin: auto;
}
.flex ul {
  padding-left: 1rem;
}
.flex ul li {
  list-style-type: disc;
}
.level-details > h1 {
  font-weight: normal;
  margin-bottom: 0.3rem;
}
.level-details p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0.4rem;
}
.ai-bots {
  width: 50%;
  position: relative;
  top: 80%;
  left: 4%;
  transform: translateY(90%);
}
.ai-bot_flex ul {
  display: inline-block;
}
.ai-bot_flex ul:first-child {
  padding-right: 3rem;
}
.ai-bot_flex li {
  list-style-type: disc;
  margin-bottom: 0.2rem;
}
.ai-bots h1 {
  width: 600px;
  margin-bottom: 0.5rem;
}
.ai-bot_flex ul {
  padding-left: 1rem;
}
.bg-img-9 {
  background: url(../images/c20.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150vh;
  position: relative;
}
.brookyl,
.brookyl-vendor {
  text-align: center;
}
.brookyl h1,
.brookyl h3,
.brookyl p {
  width: 80%;
  margin: auto;
}
.brookyl-vendor h1,
.brookyl-vendor h3,
.brookyl-vendor p {
  width: 80%;
  margin: auto;
}
.brookyl p,
.brookyl-vendor p {
  margin: 1rem auto;
}
.brookyl-img,
.brookyl-img_vendor {
  padding: 2rem 0;
}
.future-mixer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.future-mixer > div {
  width: 48%;
}
:is(.future-mining, .hardware-data, .crypto-details) h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
:is(.future-mining, .hardware-data, .crypto-details) p {
  margin-bottom: 1rem;
}
.future-mining h5 {
  margin-bottom: 0.5rem;
}
.xgx {
  text-align: center;
  margin-top: 3rem;
  width: 92%;
}
.xgx h5 {
  margin-top: 0.7rem;
}
.xgx h1 {
  margin-bottom: 1rem;
}
.hardware-wallet {
  background: linear-gradient(rgba(2, 5, 43, 0.8), rgba(2, 5, 43, 0.8)),
    url(../images/c25.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hardware-mixer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -90px;
}
.hardware-mixer > div {
  width: 50%;
}
.in-progress {
  color: aqua;
  font-size: 20px;
  font-weight: normal;
}
.hard-img_helper {
  width: 80%;
  margin: auto;
}
.metaverse {
  background: url(../images/c26.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130vh;
}
.metaverse > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.metaverse-details {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}
.metaverse-details > h1 {
  font-size: 50px;
  font-weight: bold;
}
.metaverse-details > h4 {
  margin-bottom: 0.33rem;
}
.metaverse-details > span {
  margin-bottom: 1rem;
  display: inline-block;
}
.crypto-mixer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.crypto-mixer > div {
  width: 49%;
}
.services {
  position: relative;
  width: 100%;
}
.service-box {
  text-align: center;
}
.service-box .number {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
}
.service-box .service {
  display: flex;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  position: relative;
  height: 130px;
  background: linear-gradient(
    to bottom,
    var(--purple-color),
    var(--blue-color)
  );
}
.service-box .service::before {
  font-family: fontawesome;
  content: "\f101";
}
.service_line::after {
  content: "";
  background: url(../images/assets/Line\ 101.png);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  z-index: -1;
  background-size: contain;
  background-position: center;
}
.number,
.order-line {
  margin-bottom: 10px;
}
.service-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.service-center .service::after {
  content: "";
  background: url(../images/assets/Line\ 101.png);
  position: absolute;
  top: 50%;
  right: 32%;
  width: 100%;
  height: 3px;
  z-index: -1;
  background-size: contain;
  background-position: center;
}
.vertical-line {
  position: absolute;
  height: 150px;
  left: 16%;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 4px;
}
.vertical-line > img {
  height: 100%;
}
.footer-nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(190, 178, 178);
}
.copyright {
  text-align: center;
  padding: 1rem 0;
}
.copyright span {
  font-size: 13px;
}

.products {
  position: relative;
}

.product_text_1 {
  position: absolute;
  right: 20%;
  top: 3%;
}
.product_text_2 {
  position: absolute;
  left: 12%;
  top: 50%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(33, 20, 219), rgb(103, 9, 139));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr {
  border: 1px solid white;
}

.box {
  position: relative;
}

.box_text_1 {
  position: absolute;
  left: 10%;
  top: 0;
}
.box_text_2 {
  position: absolute;
  left: 10%;
  bottom: 0;
}
.bidet {
  position: relative;
}

.bidet_text_1 {
  position: absolute;
  left: 10%;
  top: 10%;
}
.hydro {
  position: relative;
}

.hydro_text_1 {
  /*  */
}

.stardiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.spaceimg {
  position: relative;
}
.spacetxt {
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 1;
}

.sateliteimg1 {
  position: relative;
}
.sateliteimg2 {
  position: relative;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 1;
  width: 500px;
}
